header {
    height: 150px;
    background-color: white;
    display: flex;
    justify-content:space-around;
    color: black;
    align-items:top right ;
}

ul{
    display: flex;
    list-style-type: disc;
}

ul li a{
    display: inline-block;
padding-right: 0 50px;
}
